@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
    @apply flex flex-wrap flex-row justify-center text-center;
}

.ui {
    @apply text-white w-full h-full px-8 py-4 text-right mt-5;
    transition: .5s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.ui > * {
    transition: .5s;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}